@model ImageMapViewModel
@using Microsoft.AspNetCore.Html

@{
  ViewBag.Title = "Image Map";
}

<div id="mapid" style="width: 100%; height: 700px">
</div>

@section Scripts {
  <script src="~/lib/leaflet/dist/leaflet.js"></script>
  <link href="~/lib/leaflet/dist/leaflet.css" rel="stylesheet" />
  <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href="~/lib/leaflet.awesome-markers/dist/leaflet.awesome-markers.css" rel="stylesheet" />
  <script src="~/lib/leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>
  <link href="~/lib/PruneCluster/dist/LeafletStyleSheet.css" rel="stylesheet" />
  <script src="~/lib/PruneCluster/dist/PruneCluster.js"></script>
  <link href="~/lib/leaflet.coordinates/dist/Leaflet.Coordinates-0.1.5.css" rel="stylesheet" />
  <script src="~/lib/leaflet.coordinates/dist/Leaflet.Coordinates-0.1.5.min.js"></script>
  <link href="~/lib/leaflet.contextmenu/dist/leaflet.contextmenu.css" rel="stylesheet" />
  <script src="~/lib/leaflet.contextmenu/dist/leaflet.contextmenu.js"></script>

  <style>
  </style>

  <script>
      $(document).ready(function () {
        initMap();

        var bina_y = L.polygon([[2399, 1549], [2263, 1498], [2281, 1456], [2417, 1508], [2399, 1549]],
          {
            contextmenu: true,
            contextmenuItems: [{
              text: 'Marker item',
              index: 0
            }, {
              separator: true,
              index: 1
            }]
          },
          { color: 'red' }).addTo(map);
        bina_y.bindPopup("Test...");

      });//end $(document).ready(function () {

      var map;

      function initMap() {
        map = L.map('mapid', {
          crs: L.CRS.Simple,
          maxZoom: 1,
          minZoom: -3
        });

        var bounds = [[0, 0], [4251, 4875]];
        //var image = L.imageOverlay('/images/Bina-A_Kat-2.png', bounds).addTo(map);
        var image = L.imageOverlay('@Model.ImagePath', bounds).addTo(map);

        var pc1 = L.latLng([300, 400]);
        var marker = L.marker(pc1).addTo(map);
        marker._id = 12345;
        marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();

        map.on('popupopen', function (e) {
          alert(e.popup._source._id);
        });

        map.fitBounds(bounds);

        map.on('click', function (ev) {
          console.log(ev.latlng); // ev is an event object (MouseEvent in this case)
        });

        
        var bina_d = L.polygon([[3474, 1828], [3431, 1810], [3393, 1910], [3432, 1930], [3474, 1828]],
          {
            contextmenu: true,
            contextmenuInheritItems: false,
            contextmenuItems: [{
              text: 'Marker item'
            }]
          },
          { color: 'red' }).addTo(map);
        var bina_m = L.polygon([[3208, 2703], [3158, 2685], [3135, 2732], [3127, 2727], [3135, 2707],
          [3107, 2697], [3092, 2718], [3086, 2743], [3113, 2753], [3121, 2741], [3129, 2747], [3095, 2835],
          [3144, 2855]], { color: 'red' }).addTo(map);

      }//end function initMap() {

      function refreshMarkers(data) {

      }

  </script>
}
